<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="research.dlsu.crabapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/crab_64"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".ChoosePhotoActivity" />
        <activity android:name=".CaptureImageActivity" />

        <provider
            android:name=".DatabaseProvider"
            android:authorities="research.dlsu.crabapp"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".AddNewCrabActivity" />
        <activity
            android:name=".ViewCrabActivity"
            android:label="@string/title_activity_view_crab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewAlbumsActivity"
            android:label="@string/title_activity_view_albums"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewCrabsActivity"
            android:label="@string/title_activity_view_crabs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".ViewCrabUpdateActivity" />
        <activity android:name=".LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter></activity>
    </application>

</manifest>